<br>

<p-table [value]="yetkililer" id="yetkililer" [responsive]="true" autoLayout="true" selectionMode="single"
         [(selection)]="selectedYetkili" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="20"
         [rowsPerPageOptions]="[10,20,50]">
  <ng-template pTemplate="caption">
    <div style="text-align:left">
      <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Proje Ekle"></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th [pSortableColumn]="'firmaReferans.adi'" pResizableColumn>Adı
        <p-sortIcon [field]="'firmaReferans.adi'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'firmaReferans.kurum.ad'" pResizableColumn>Referans
        <p-sortIcon [field]="'firmaReferans.kurum.ad'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'firmaReferans.tarihi'" pResizableColumn>Tarih
        <p-sortIcon [field]="'firmaReferans.tarihi'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'firmaReferans.suresi'" pResizableColumn>Süresi(Ay)
        <p-sortIcon [field]="'firmaReferans.suresi'"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-yetkili let-rowData>
    <tr [pSelectableRow]="rowData">
      <td *ngIf="yetkili.firmaReferans">{{yetkili.firmaReferans.adi}}</td>
      <td *ngIf="!yetkili.firmaReferans"></td>

      <td *ngIf="yetkili.firmaReferans">{{yetkili.firmaReferans.kurum.ad}}</td>
      <td *ngIf="!yetkili.firmaReferans"></td>

      <td *ngIf="yetkili.firmaReferans">
        <div *ngIf="yetkili.firmaReferans.tarihi">{{yetkili.firmaReferans.tarihi | date:'dd.MM.yyyy'}}</div>
        <div *ngIf="!yetkili.firmaReferans.tarihi"></div>
      </td>
      <td *ngIf="!yetkili.firmaReferans"></td>

      <td *ngIf="yetkili.firmaReferans">{{yetkili.firmaReferans.suresi}}</td>
      <td *ngIf="!yetkili.firmaReferans"></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    Toplam Kayıt: {{yetkililer?.length}}
  </ng-template>
</p-table>


<p-dialog header="Proje Detayları" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '700px'}">
  <div *ngIf="yetkili.firmaReferans">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="firmaReferans.adi">Adı*</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="firmaReferans.adi" #myTextBox="ngModel" required id="myTextBox" name="myTextBox"
                 [(ngModel)]="firmaReferans.adi"/>
          <div *ngIf="!myTextBox.value" style="color:red;">
            <i class="pi pi-exclamation-triangle"></i> Adı girilmesi gereklidir
          </div>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label>Referans*</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="firmaReferans.kurum.ad" #myTextBox2="ngModel" required id="myTextBox2" name="myTextBox2" disabled="true" [(ngModel)]="firmaReferans.kurum.ad"/>

          <button type="button" pButton (click)="sorgulama()" label="Kurum Seç"></button>

          <div *ngIf="!myTextBox2.value" style="color:red;">
            <i class="pi pi-exclamation-triangle"></i> Kurum seçilmesi gereklidir
          </div>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="trh">Tarih</label>
        </div>
        <div class="ui-g-8">
          <!--<input pInputText id="trh" [(ngModel)]="yetkili.firmaReferans.tarihi">-->
          <p-calendar id="trh" dateFormat="dd.mm.yy" [(ngModel)]="firmaReferans.tarihi"></p-calendar>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="sure">Süresi(Ay)</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="sure" [(ngModel)]="firmaReferans.suresi">
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="konusu">Konusu</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="konusu" [(ngModel)]="yetkili.konusu">
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="nitelikleri">Nitelikleri</label>
        </div>
        <div class="ui-g-8">
          <textarea pInputTextarea id="nitelikleri" rows="5" [(ngModel)]="yetkili.nitelikleri"></textarea>
        </div>
      </div>


    </div>

    <!--&lt;!&ndash;<button type="button" pButton icon="pi pi-save"  (click)="saveThis()" label="Kaydet"></button>&ndash;&gt;-->
    <div style="float: right;">
      <button *ngIf="!yeniYetkili" type="button" pButton icon="pi pi-times" (click)="areusureopen()"
              label="Sil"></button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" pButton [disabled]="!myTextBox.value || !myTextBox2.value" icon="pi pi-save" (click)="saveThis()"
              label="Kaydet"></button>
    </div>
  </div>

</p-dialog>


<p-toast position="top-left"></p-toast>

<p-dialog header="Silmek istediğinize emin misiniz?" [(visible)]="areusure">
  <button type="button" pButton icon="pi pi-times" (click)="areusureclose()" label="İptal"></button>
  <div style="float: right;">
    <button type="button" pButton icon="pi pi-check" (click)="deleteThis()" label="Evet"></button>
  </div>

</p-dialog>


<p-dialog header="Kurum" (onShow)="showDialogMaximized($event,dialDetail)" #dialDetail maximizable="true"
          [(visible)]="display2" [responsive]="true" showEffect="fade" [modal]="true">

  <p-table #dt [value]="kurumlar.dataList" [responsive]="true" autoLayout="true" selectionMode="single"
           [(selection)]="selectedYetkili" (onRowSelect)="onRowSelect2($event)" [paginator]="true" [rows]="10"
           [lazy]="true" (onLazyLoad)="loadLazy($event)" [totalRecords]="kurumlar.rowCount"
  >
  <!-- [lazy]="true" (onLazyLoad)="loadLazy($event)" [loading]="loading"-->

    <ng-template pTemplate="caption">
      <div style="text-align: left">
        <button type="button" pButton icon="pi pi-search" (click)="loadLazy($event)"></button>
        <input type="text" pInputText size="50" [(ngModel)]="this.sorgulanacak" placeholder="">
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th [pSortableColumn]="'ad'" pResizableColumn>Kurum Adı
          <p-sortIcon [field]="'ad'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'hiyerarsi'" pResizableColumn>Kurum Hiyerarşisi
          <p-sortIcon [field]="'hiyerarsi'"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-kurum let-rowData>
      <tr [pSelectableRow]="rowData">
        <td>{{kurum.ad}}</td>
        <td>{{kurum.hiyerarsi}}</td>
      </tr>
    </ng-template>
    <!--<ng-template pTemplate="footer">
    </ng-template>-->

  </p-table>
  <br>
  <div align="center">
    <button type="button" pButton (click)="ksec()" label="Seç"></button>
  </div>
  <br>

</p-dialog>


<p-toast position="top-left"></p-toast>

<p-dialog header="Silme işlemini onaylıyor musunuz?"  [(visible)]="areusure">
  <button type="button" pButton icon="pi pi-times" (click)="areusureclose()" label="Hayır"></button>
  <div style="float: right;">
    <button type="button" pButton icon="pi pi-check" (click)="deleteThis()" label="Evet"></button>
  </div>

</p-dialog>



