<div style="margin-left: auto; margin-right: auto; width: 160px" align="center">
  <div style="margin-left: auto; margin-right: auto; width: 160px" align="center">
    <span class="ui-float-label">
    <input id="float-input" type="text" pInputText>
    <label for="float-input">Kullanıcı Adı</label>
    </span>
  <br>
  <div>
    <span class="ui-float-label">
    <input id="float-input" type="text" pInputText>
    <label for="float-input">Şifre</label>
    </span>
  </div>
  <br>
    <button type="button" pButton style="font-weight: bold" [routerLink]="['/firma-bilgileri']" label="Giriş Yap"></button>
</div>
<br>
