<br>
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="p-grid">
        <div class="p-col-12 p-md-12 p-xl-6">

    <span class="ui-float-label">
    <input id="kullaniciadi" type="text" pInputText style="width: 400px;" [(ngModel)]="this.eposta">
    <label for="kullaniciadi">Kullanıcı Adı</label>
    </span>
          <br>
          <div>
    <span class="ui-float-label">
    <input id="sifre" type="password" pInputText style="width: 400px;" [(ngModel)]="this.sifre">
    <label for="sifre">Şifre</label>
    </span>
          </div>
          <br>
          <button type="button" pButton style="font-weight: bold" (click)="giris()" [disabled]="this.enableGiris"
                  label="Giriş Yap"></button>
          <br><br>
          <p-captcha siteKey="6Lee9KoUAAAAADCfau1C7qW8WPcMuUhBbnJP8Qq9" (onResponse)="showResponse($event)"></p-captcha>
          <p *ngIf="error" style="font-weight: bold; color: red"> Hatalı Kullanıcı Adı ve/veya Parola Girişi
            Yaptınız.</p>

        </div>
      </div>
    </div>
  </div>
</div>
<br>



