

<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div align="left">
        <img src="assets/profit_logo-yatay260x60.png" style="height: 70px">
        <span style="float:right;"><img src="assets/turksatLogo_topBar.png" style="height: 70px"></span>
      </div>
      <br><br>


      <p-card>
          <br>
          <h2 align="center" style="color: #E91E63; font-weight: bold">{{this.loadedPosts.adi}} </h2>
        <br>
        <!--<p-tabMenu [model]="navs" [activeItem]="navs[0]"></p-tabMenu>-->
        <p-tabMenu [model]="navs"></p-tabMenu>
        <router-outlet></router-outlet>
      </p-card>
    </div>
  </div>
</div>


