<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div align="left">
        <img src="assets/logo_light.png" style="height: 50px">
        <span style="float:right;"><img src="assets/turksatLogo_topBar.png" style="height: 50px"></span>
      </div>
      <br>
      <p-card>
        <!--<br>-->
        <div *ngIf="(this.router.url !== '/giris') && (this.router.url !== '/aktivasyon')">
          <app-baslik></app-baslik>
          <br>
          <p-tabMenu [model]="navs"></p-tabMenu>
        </div>
        <router-outlet></router-outlet>
      </p-card>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <p-card>
        <p style="text-align:left;">
          ProjeM-Firma {{this.mode}} v{{this.version}} - {{this.zaman}}
          <span style="float:right;">© Bütün Hakları Saklıdır</span>
        </p>

      </p-card>
    </div>
  </div>
</div>



