<br>
<p-table [value]="yetkililer" [responsive]="true" autoLayout="true" selectionMode="single"
         [(selection)]="selectedYetkili" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="20"
         [rowsPerPageOptions]="[10,20,50]">
  <ng-template pTemplate="caption">
    <div style="text-align:left">
      <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Yetkili Ekle"></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th [pSortableColumn]="'aktif'" pResizableColumn>Aktif/Pasif
        <p-sortIcon [field]="'aktif'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'kontakTuru'" pResizableColumn>Kontak Türü
        <p-sortIcon [field]="'kontakTuru'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'ad'" pResizableColumn>Ad Soyad
        <p-sortIcon [field]="'ad'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'unvan'" pResizableColumn>Ünvan
        <p-sortIcon [field]="'unvan'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'telefon'" pResizableColumn>Telefon
        <p-sortIcon [field]="'telefon'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'cepTelefonu'" pResizableColumn>Cep Telefonu
        <p-sortIcon [field]="'cepTelefonu'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'eposta'" pResizableColumn>E-posta
        <p-sortIcon [field]="'eposta'"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-yetkili let-rowData>
    <tr [pSelectableRow]="rowData">
      <td *ngIf="yetkili.aktif" align="center"><i class="pi pi-circle-on"
                                                  style="color: green; text-shadow: 0px 0px 5px"></i></td>
      <td *ngIf="!yetkili.aktif" align="center"><i class="pi pi-circle-on"
                                                   style="color: red; text-shadow: 0px 0px 5px"></i></td>
      <td *ngIf="yetkili.kontakTuru">{{yetkili.kontakTuru.ad}}</td>
      <td *ngIf="!yetkili.kontakTuru"></td>
      <td>{{yetkili.ad}} {{yetkili.soyad}}</td>
      <td>{{yetkili.unvan}}</td>
      <td>{{yetkili.telefon}}</td>
      <td>{{yetkili.cepTelefonu}}</td>
      <td>{{yetkili.eposta}}</td>
    </tr>
  </ng-template>
</p-table>


<p-dialog header="Yetkili Detayları" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '700px'}">
  <div *ngIf="yetkili">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="ad">Aktif/Pasif</label>
        </div>
        <div class="ui-g-8">
          <p-toggleButton [(ngModel)]="yetkili.aktif" onLabel="Aktif" offLabel="Pasif"></p-toggleButton>
        </div>
      </div>


      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="ad">Ad*</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="ad" #myTextBox="ngModel" required id="myTextBox" name="myTextBox"
                 [(ngModel)]="yetkili.ad"/>
          <div *ngIf="!myTextBox.value" style="color:red;">
            <i class="pi pi-exclamation-triangle"></i> Ad girilmesi gereklidir
          </div>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="soyad">Soyad*</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="soyad" #myTextBox2="ngModel" required id="myTextBox2" name="myTextBox2"
                 [(ngModel)]="yetkili.soyad"/>
          <div *ngIf="!myTextBox2.value" style="color:red;">
            <i class="pi pi-exclamation-triangle"></i> Soyad girilmesi gereklidir
          </div>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="unvan">Ünvan*</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="unvan" #myTextBox3="ngModel" required id="myTextBox3" name="myTextBox3"
                 [(ngModel)]="yetkili.unvan"/>
          <div *ngIf="!myTextBox3.value" style="color:red;">
            <i class="pi pi-exclamation-triangle"></i> Ünvan girilmesi gereklidir
          </div>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label>Telefon*</label>
        </div>
        <div class="ui-g-8">
          <p-inputMask id="telefon" #myTextBox5="ngModel" required id="myTextBox5" name="myTextBox5"
                       [(ngModel)]="yetkili.telefon" mask="(9999)999-9999"></p-inputMask>
          <div *ngIf="!myTextBox5.value" style="color:red;">
            <i class="pi pi-exclamation-triangle"></i> Telefon girilmesi gereklidir
          </div>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label>Cep Telefonu</label>
        </div>
        <div class="ui-g-8">
          <p-inputMask [(ngModel)]="yetkili.cepTelefonu" mask="(9999)999-9999"></p-inputMask>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label>Kontak Türü</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown [options]="kturu" showClear="true" [autoWidth]="false" placeholder="Seçiniz"
                      [(ngModel)]="yetkili.kontakTuru" optionLabel="ad"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="eposta">E-posta*</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="eposta" #myTextBox4="ngModel" required id="myTextBox4" name="myTextBox4"
                 [(ngModel)]="yetkili.eposta"/>
          <div *ngIf="!myTextBox4.value" style="color:red;">
            <i class="pi pi-exclamation-triangle"></i> E-posta girilmesi gereklidir
          </div>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="adres">Adres</label>
        </div>
        <div class="ui-g-8">
          <!--<input pInputText [(ngModel)]="yetkili.adres" />-->
          <textarea pInputTextarea id="adres" rows="5" value="{{yetkili.adres}}" [(ngModel)]="yetkili.adres"></textarea>
        </div>
      </div>

    </div>

    <!--<button type="button" pButton icon="pi pi-save"  (click)="saveThis()" label="Kaydet"></button>-->
    <div style="float: right;">
      <button *ngIf="!yeniYetkili" type="button" pButton icon="pi pi-times" (click)="areusureopen()"
              label="Sil"></button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" pButton
              [disabled]="!myTextBox.value || !myTextBox2.value || !myTextBox3.value || !myTextBox4.value || !myTextBox5.value"
              icon="pi pi-save" (click)="saveThis()" label="Kaydet"></button>
    </div>

  </div>

</p-dialog>

<p-toast position="top-left"></p-toast>

<p-dialog header="Silmek istediğinize emin misiniz?" [(visible)]="areusure">
  <button type="button" pButton icon="pi pi-times" (click)="areusureclose()" label="İptal"></button>
  <div style="float: right;">
    <button type="button" pButton icon="pi pi-check" (click)="deleteThis()" label="Evet"></button>
  </div>

</p-dialog>



